:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --nav-text-color:#2196F3;
    --primary-bg-color: #fff; 
    --footer-text-color: rgba(255, 255, 255, 0.6);
    

}

body {
    font-family: 'Roboto', sans-serif ;
    background: var(--primary-bg-color);
    color: var(--primary-text-color)
    
}

a{
    text-decoration: none;
    color: var(--title-text-color);
    
}

ul {
    list-style: none;
}


/* header */
.header{
    background-color: #FFFFFF;
}

.header-logo {

    font-family: 'Raleway';
    
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.header-accent {
    color: #2196F3;
}

.header-list .header-link {
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.header-list .header-link:hover,
.header-list .header-link:focus{
    color: var(--nav-text-color);

}


.header-contacts .contacts-link {
    color: var(--primary-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
}

.header-contacts .contacts-link:hover,
.header-contacts .contacts-link:focus{

    color: var(--nav-text-color);
}

/* main */

.main {
    background-color: #2F303A;
}

.main-title {
    
    color: #FFFFFF;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;

}

.main-button {
    color: #FFFFFF;
    background: #2196F3;
    width: 216px;
    height: 50px;
    left: 692px;
    top: 430px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;

}

.main-button:active,
.main-button:focus{
    background: #188CE8;
}

/* features */

.features-title {
 visibility: hidden;
}

.features-subtitle {
    color: var(--title-text-color);

    
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}

.features-text {
    
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

/* service */

.service-title {
    color: var(--title-text-color);

    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;

}

/* team */

.team {
    background-color: #F5F4FA;
}

.team-card{
    background-color: #FFFFFF;
}


.team-title {
    color: var(--title-text-color);

    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;

}

.team-subtitle {
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}


.team-text{

    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}


/* footer */
.footer {
    background-color: #2F303A;
}

.footer-logo {
    color: #FFFFFF;

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.footer-accent {
    color:#2196F3;
}

.footer-link{
    color:#FFFFFF;
  
    
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.footer-adress{
    color: var(--footer-text-color);

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;  
}

/* portfolio main */

.portfolio-title{
    visibility: hidden;
}

.portfolio-btn{
    color: var(--title-text-color);
    background: #F5F4FA;

   font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em; 

    width: 125px;
    height: 38px;
    left: 593px;
    top: 174px;

    border-radius: 4px;

}

.portfolio-btn:active,
.portfolio-btn:hover{
    color: #FFFFFF;
    background: #2196F3;
        
}

.portfolio-subtitle{
    color: var(--title-text-color);

    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-text{
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
}