:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --nav-text-color:#2196F3;
    --primary-bg-color: #fff; 
    --footer-text-color: rgba(255, 255, 255, 0.6);
    
}

body {
    font-family: 'Roboto', sans-serif ;
    background: var(--primary-bg-color);
    color: var(--primary-text-color)
    
}

/* a{
    text-decoration: none;
    color: var(--title-text-color);
    
}

ul {
    list-style: none;
} */


/* header */
.header{
    background-color: #FFFFFF;
    --header-font-size: 14px;
    --header-font-weight: 500;
    --header-line-height: 1.14;
    --header-spacing: 0.02em;
}

.header-logo {
    color: var(--title-text-color);
    font-family: 'Raleway', sans-serif;
    
    font-size: 26px;
    line-height: 1.2;

    text-decoration: none;
}

.header-accent {
    color: #2196F3;
}

.header-list{
    list-style: none;
}

.header-list .header-link {
    color: var(--title-text-color);

    font-weight: var(--header-font-weight);
    font-size: var(--header-font-size);
    line-height: var(--header-line-height);
    letter-spacing: var(--header-spacing);

    text-decoration: none;
}

.header-list .header-link:hover,
.header-list .header-link:focus{
    color: var(--nav-text-color);

}

.header-contacts{
    list-style: none;
}

.header-contacts .contacts-link {
    color: inherit;

    font-weight: var(--header-font-weight);
    font-size: var(--header-font-size);
    line-height: var(--header-line-height);
    letter-spacing: var(--header-spacing);

    text-decoration: none;
    
}

.header-contacts .contacts-link:hover,
.header-contacts .contacts-link:focus{

    color: var(--nav-text-color);
}

/* footer */
.footer {
    background-color: #2F303A;
}

.footer-logo {
    color: #FFFFFF;

    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.2;

    text-decoration: none;
}

.footer-accent {
    color: #2196F3;
}

.footer-list {
    list-style: none;

}

.footer-link {
    color: #FFFFFF;


    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;

    text-decoration: none;
}

.footer-adress {
    color: var(--footer-text-color);

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;

    text-decoration: none;
}

/* main */

.main {
    background-color: #2F303A;
}

.main-title {
    
    color: #FFFFFF;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;

}

.main-btn {
    color: #FFFFFF;
    background: #2196F3;

    width: 216px;
    height: 50px;
    left: 692px;
    top: 430px;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;

    cursor: pointer;
}

.main-btn:hover,
.main-btn:focus{
    background: #188CE8;
}

/* features */

.features{
    --features-font-size: 14px;
    --featres-spacing: 0.03em;
    --features-subtitle-height: 1.14;
    --features-text-height: 1.7;
}


.features-title {
 visibility: hidden;
}

.features-list{
    list-style: none;
}

.features-subtitle {
    color: var(--title-text-color);

    font-size: var(--features-font-size);
    line-height: var(--features-subtitle-height);
    letter-spacing: var(--featres-spacing);
}

.features-text {
    
    font-size: var(--features-font-size);
    line-height: var(--features-text-height);
    letter-spacing: var(--featres-spacing);
}

/* service */

.service-list{
    list-style: none;
}

.service-title {
    color: var(--title-text-color);

    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;

}

/* team */

.team {
    background-color: #F5F4FA;

    --team-font-size: 16px;
    --team-line-height: 1.2;
    --team-spacing: 0.03em;
    --team-subtitle-weight: 500;
}

.team-list{
    list-style: none;
}

.team-card{
    background-color: #FFFFFF;
}


.team-title {
    color: var(--title-text-color);

    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;

}

.team-subtitle {
    color: var(--title-text-color);

    font-weight: var(--team-subtitle-weight);
    font-size: var(--team-font-size);
    line-height:var(--team-line-height);
    letter-spacing: var(--team-spacing);
}


.team-text{

    font-size: var(--team-font-size);
    line-height: var(--team-line-height);
    letter-spacing: var(--team-spacing);
}

/* portfolio main */


.portfolio-title{
    visibility: hidden;
}

.portfolio-nav{
    list-style: none;
}

.portfolio-list{
    list-style: none;
}

.portfolio-btn{
    color: var(--title-text-color);
    background: #F5F4FA;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em; 

    width: 125px;
    height: 38px;
    left: 593px;
    top: 174px;

    cursor: pointer;
}

.portfolio-btn:focus,
.portfolio-btn:hover{
    color: #FFFFFF;
    background: #2196F3;
        
}

.portfolio-subtitle{
    color: var(--title-text-color);

    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-text{
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
}






