.clients__title {
    margin-bottom: 50px;
}

.clients__link {
    color: var(--primary-text-color);
    border: 1px solid #AFB1B8;
    border-radius: 4px;

    width: 170px;
    height: 92px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: color var(--transition-duration) var(--transition-timing-function), border-color var(--transition-duration) var(--transition-timing-function);

    &:hover,
    &:focus {
        color: var(--nav-text-color);
        border-color: var(--nav-text-color);
    }
}

.clients__icon {
    fill: currentColor;
    width: 106px;
    height: 60px;

}


