.container {

    // margin-left: auto;
    // margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;

    @media screen and (max-width: 480px){
        width: 450px;
    }


    // width: 1200px;
    // margin-left: auto;
    // margin-right: auto;
    // padding-right: 15px;
    // padding-left: 15px;

}