.features {
    --features-font-size: 14px;
    --featres-spacing: 0.03em;
    --features-subtitle-height: 1.14;
    --features-text-height: 1.7;

}

.features__item {
    max-width: 450px;
    
    @media screen and (min-width: 768px) {
    max-width: 354px;    }

    @media screen and (min-width: 1200px) {
    max-width: 270px;
 }
   
}

.features__icon {
    display: flex;
    justify-content: center;
    align-items: center;

   
    height: 120px;
    margin-bottom: 30px;

    background-color: #F5F4FA;
    border-radius: 4px;

}

.features__svg {
    width: 70px;
    height: 70px;
}

.features__subtitle {
    color: var(--title-text-color);

    font-size: var(--features-font-size);
    line-height: var(--features-subtitle-height);
    letter-spacing: var(--featres-spacing);

    margin-bottom: 10px;

    @media screen and (max-width: 480px) {
    text-align: center;        }
}

.features__text{

    font-size: var(--features-font-size);
    line-height: var(--features-text-height);
    letter-spacing: var(--featres-spacing);

}