.icon-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.icon-list__item {
    display: flex;
    justify-content: center;
}

.icon-list__link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-text-color);
    width: 44px;
    height: 44px;
    border-radius: 50%;

    transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function);

    &:hover, &:focus {
    background-color: #188CE8;
    color: #fff; }
    
}

.icon-list__svg {
    width: 20px;
    height: 20px;

    fill: currentColor;

}

.icon-list__link--footer-color {
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.1);
}

