:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --nav-text-color: #2196F3;
    --primary-bg-color: #fff;
    --footer-text-color: rgba(255, 255, 255, 0.6);
    --transition-duration: 250ms;
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --mobile-font-title-size: 28px;
    --mobile-font-title-height: 33px;
}